// about section
#about-section{
  @extend %theme-section-1;
  // background-image: url(../img/bg1.jpg);
  background-color: $white;
  color:$theme-color5;

  .container{

    @extend %animate-down;

    img{
      height: 30px;
    }
    p.about-me{
      line-height: 2;
      color:$gray;
      margin-bottom:50px;
        strong{
          color:$theme-color5;
        }
    }
    p.knowledge{
      font-weight:bold;
    }

    h1{
      @extend %theme-header-1;
    }

  }


}
