// hero section
#hero-section{
  @extend %theme-section-1;
  background-color: $theme-color1;

  .container{

    p{
      color:$gray;
      padding-right:70px;
      padding-left:70px;
      display: inline-block;

      strong{
        color:$white;
      }
    }

    h1{
      font-weight: bolder;
      color: $white;
      justify-content: center;
    }

    img{
      border-radius: 50%;
      border:5px solid $white;
      height:150px;
      margin-bottom:20px;
    }


  }


}

//Small Devices, Tablets
@media only screen and (max-width : 768px) {
  #hero-section{

    .container{
      h1{
        font-size:40px;
      }
      img{
        height:100px;
      }
    }
    }
}
