// knowledge section
#knowledge-section{
  @extend %theme-section-1;
  background-color: $black1;
  color:$white;
  .container{
    @extend %animate-down;
    img{
      height: 30px;
    }
    h1{
      @extend %theme-header-1;
    }
    p{
        margin-top: 12px;
        margin-bottom: 20px;
    }
  }
}
