// testimonials section
#testimonials-section{
  @extend %theme-section-1;
  background-color: $lighter-gray;
  color:$theme-color5;
  .container{
    @extend %animate-down;
    img{
      height: 30px;
    }
    h1{
      @extend %theme-header-1;
    }
  }
}
