#youtube-section{
  @extend %theme-section-1;
  background-color: $theme-color8;
  color:$white;

  .container{

    @extend %animate-down;

    h1{
      @extend %theme-header-1;
    }

    a{
      color:$white;
    }

    p:nth-child(4){
      margin-bottom:50px;
    }

    h1 span.youtube{
      font-size:100px;
    }

    .hvr-bounce-to-right:before {
        background: #920506;
      }
  }
}
